---
---
<div class="nav-links">
  <nav>
     <ul>
         <li>
            <a href="/music/">Music</a>
         </li>
         <li>
            <a href="/technology/">Technology</a>
         </li>
         <li>
            <a href="/business/">Business</a>
         </li>
         <li>
            <a href="/politics/">Politics</a>
         </li>
         <li>
            <a href="/sports/">Sports</a>
         </li>
     </ul>
  </nav>
</div>

